@model IEnumerable<DietineWebApp.Models.Activity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalorieBurnedPerMinute)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalorieBurnedPerMinute)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
