@model DietineWebApp.Models.BreakfastFood

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BreakfastFood</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFCaloriePerOunce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFCaloriePerOunce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFGram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFGram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFTotalCalorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFTotalCalorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFDbFoodID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFDbFoodID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BreakfastFoodID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
