@model IEnumerable<DietineWebApp.Models.BreakfastFood>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BFCaloriePerOunce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BFGram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BFTotalCalorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BFDbFoodID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BFUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BFDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BFCaloriePerOunce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BFGram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BFTotalCalorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BFDbFoodID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BFUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BFDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BreakfastFoodID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BreakfastFoodID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BreakfastFoodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
