@model DietineWebApp.Models.TakenActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TakenActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TACalorieBurnedPerMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TACalorieBurnedPerMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TATotalCaloriBurned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TATotalCaloriBurned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TADate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TADate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TADbID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TADbID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAUserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TakenActivityID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
