@model IEnumerable<DietineWebApp.Models.TakenActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Activities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TAName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TACalorieBurnedPerMinute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAMinute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TATotalCaloriBurned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TADate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TADbID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAUserID)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TAName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TACalorieBurnedPerMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TATotalCaloriBurned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TADate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TADbID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAUserID)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.TakenActivityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TakenActivityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TakenActivityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
